:root{
    --primary-background-color: #161616;
    --secondary-background-color: #fffcf9;
    --third-background-color: #a35020;
    --fourth-background-color: #d6a86f;
    --black-text-color: #171717;
    --white-text-color: #fffcf9;
    --coffee-text-color: #d6a86f;

}
body{
    background-color: var(--secondary-background-color) !important;
}
.common-container{
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
}

.extra-small-text-size{
    font-family: "roboto-400";
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: var(--black-text-color);
}

.standard-text-size{
    font-family: "roboto-400";
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: var(--black-text-color);
}
.after-standard-text-size{
    font-family: "roboto-400";
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: var(--black-text-color);
}
.before-large-text-size{
    font-family: "roboto-400";
    font-size: 22px;
    line-height: 23px;
    font-weight: 600;
    color: var(--black-text-color);
}
.large-text-size{
    font-family: "roboto-700";
    font-size: 26px;
    line-height: 28px;
    font-weight: 800;
    color: var(--black-text-color);
}
.extra-large-text-size{
    font-family: "roboto-800";
    font-size: 32px;
    line-height: 34px;
    font-weight: 900;
    color: var(--black-text-color);
}

.white-text{
    color: var(--white-text-color);
}
.black-text{
    color: var(--black-text-color);
}
.coffee-text-color{
    color: var(--coffee-text-color);
}


.br-10{
    border-radius: 10px;
}
.br-20{
    border-radius: 20px;
}
.br-25{
    border-radius: 25px;
}



.common-scrollbar::-webkit-scrollbar{
    width: 8px;
    border-radius: 8px;
    background-color: var(--secondary-background-color);
    padding-inline: 5px;
    scroll-behavior: contain;
    // scroll-padding-inline: 2em;

}
.common-scrollbar::-webkit-scrollbar-thumb{
    background-color: var(--primary-background-color);
    border-radius: 6px;
    border: 4px solid var(--primary-background-color);
}


.common-primary-decimal-ol-style{
    list-style-type: decimal !important;
    padding-left: 1em !important;
}